/* 
    Created on : 15-Dec-2015, 14:58:29
    Author     : ngant
*/
.search-panel{
    margin: auto;
    width: 850px;
    background-color: #FFF;
    padding: 15px;
    box-shadow: 0px 0px 5px #174C4F;
    border-top: 3px solid #174C4F;
}

.header-panel{
    border-bottom: 1px solid #174C4F;
}

.left-header-panel{
    width: 95%;
    margin: auto;
    border-bottom: 2px solid #174C4F;
    font-size: 250%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

h3 {
    font-size: 250%;
}

.search-table {
    width: 100%;
    margin: auto;
    border: none!important;
}

.search-table .no-border-padding5 {
    border: none!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.search-table tr:hover {
    background-color: transparent!important;
}

.left-td {
    text-align: right;
    font-weight: bold;
}

input {
    width: 100%;
}

select {
    width: 100%;
}

.none-opt {
    font-style: italic;
}

#search-result {
    padding: 10px;
}

h4 {
    font-weight: bold;
    font-size: 120%;
}

.right-td {
    vertical-align: top;
    width: 40%; 
}